// 'Inter' font import link from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// inter-font placeholder which is extended into the wildcard selector in styles.scss
%inter-font {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;

    &--bold {
        font-weight: 600;
    }
}