// Colour palette for website stored in variables to be reused throughout the site
// SCSS HEX
$onyx: #0a100dff;
$ash-grey: #b9baa3ff;
$dust-grey: #d6d5c9ff;
$brown-red: #a22c29ff;
$chestnut: #902923ff;