@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*, .content {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: #d6d5c9;
}

.content--bold {
  font-weight: 600;
}
.content h2,
.content p {
  color: #0a100d;
}
.content__landing__para {
  font-weight: 400;
  font-size: 1.25rem;
  color: #a22c29 !important;
}
.content__landing__title {
  font-weight: 700;
  font-size: 2.75rem;
  color: #902923;
}
.content__about__img {
  max-width: 80%;
}
@media only screen and (min-width: 992px) {
  .content__about__img {
    max-width: 40%;
  }
}
.content__skills__icon {
  font-size: 2rem;
  color: #902923;
}
.content__skills__label {
  color: #a22c29 !important;
}
