@use "./modules/palette";
@use "./modules/font";

// Laptop media query mixin
@mixin laptop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// Wildcard class to apply styles to entire webpage
* {
  // Import the inter-font placeholder to apply font to entire webpage
  @extend %inter-font;
}

body {
  background-color: palette.$dust-grey;
}

// Content class
.content {
  @extend %inter-font;
  //   Add modifier class to override standard bold font weight
  &--bold {
    font-weight: 600;
  }

  h1,
  h2,
  p {
    color: palette.$onyx;
  }

  &__landing {
    &__para {
      font-weight: 400;
      font-size: 1.25rem;
    }

    // Make h1 title extra bold
    &__title {
      font-weight: 700;
    }
  }

  &__about {
    // Image takes 80% of parent container on smaller screen
    &__img {
      max-width: 80%;
    }

    // Create smaller img for bigger screens
    @include laptop {
      &__img {
        max-width: 40%;
      }
    }
  }
}
