@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*, .content {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: #d6d5c9;
}

.content--bold {
  font-weight: 600;
}
.content h1, .content h2, .content p {
  color: #0a100d;
}
