@use "./modules/palette";
@use "./modules/font";

// Wildcard class to apply styles to entire webpage
* {
  // Import the inter-font placeholder to apply font to entire webpage
  @extend %inter-font;
}

body {
  background-color: palette.$dust-grey;
}

// Content class
.content {
  @extend %inter-font;
  //   Add modifier class to override standard bold font weight
  &--bold {
    font-weight: 600;
  }

  h1, h2, p {
    color: palette.$onyx;
  }

  &__landing {
    &__para {
      font-weight: 400;
      font-size: 1.25rem;
    }

    // Make h1 title extra bold
    &__title {
      font-weight: 700;
    }
  }
}
