@use "./modules/palette";
@use "./modules/font";

// Laptop media query mixin
@mixin laptop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// Wildcard class to apply styles to entire webpage
* {
  // Import the inter-font placeholder to apply font to entire webpage
  @extend %inter-font;
}

body {
  background-color: palette.$dust-grey;
}

// Content class
.content {
  @extend %inter-font;
  //   Add modifier class to override standard bold font weight
  &--bold {
    font-weight: 600;
  }

  h2,
  p {
    color: palette.$onyx;
  }
}

.landing {
  &__para {
    font-weight: 400;
    font-size: 1.25rem;
    color: palette.$brown-red !important;
  }

  // Make h1 title extra bold and large
  &__title {
    font-weight: 700;
    font-size: 2.75rem;
    color: palette.$chestnut;
  }
}

.about {
  // Image takes 80% of parent container on smaller screen
  &__img {
    max-width: 80%;
  }

  // Create smaller img for bigger screens
  @include laptop {
    &__img {
      max-width: 40%;
    }
  }
}

.skills {
  &__icon {
    font-size: 2rem;
    color: palette.$chestnut;
  }

  &__label {
    color: palette.$brown-red !important;
  }

  @include laptop {
    &__icon {
      font-size: 2.5rem;
    }
    &__label {
      font-size: 1.5rem;
    }
  }
}

.projects {
  &__card{
    width: 18rem;
  }
}